#rename this file name to .env

#----------postgresql config--------------#
ENGINE=django.db.backends.postgresql_psycopg2
NAME=<db_name>
USER=<db_username>
PASSWORD=<password>
HOST=<db_hostname_or_ip>
PORT=<db_port>
#-----------------------------------------#

#-----------settings config---------------#
DEBUG =True
SECRET_KEY=your-secret-key

#-----------------------------------------#
